{extend name="public/base" /}

{block name="body"}
<div class="page-container">
	<form class="form form-horizontal" id="form-add">
		
		<input type="hidden" name="id" value="{$row.id ?? 0}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>角色名称</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row.title ?? ''}" placeholder="请输入" id="title" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>拥有权限</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="powerIds" hidden></div>
				<ul id="tree" class="ztree" style="width:230px; overflow:auto;"></ul>
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"> 提交</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

{/block}

{block name="js"}
<link rel="stylesheet" href="/static/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">

<script type="text/javascript" src="/static/lib/zTree/v3/js/jquery.ztree.core-3.5.min.js"></script>
<script type="text/javascript" src="/static/lib/zTree/v3/js/jquery.ztree.excheck-3.5.js"></script>

<script type="text/javascript">
$(function(){
	$("#form-add").validate({
		rules:{
			title:{
				required:true,
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var load = layer.msg('正在提交，请勿刷新', {icon: 16,shade: 0.1,time:0});
			$(form).ajaxSubmit({
				type: 'post',
				url: "/admin/role/add" ,
				success: function(data){
                    success_fun(data,2);
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				},
                complete: function(){
                    layer.close(load);
                }
			});
		}
	});
});

var zTreeObj,
setting = {
	data:{
		simpleData: {
			enable: true,
		}
	},
	check:{
		enable:true
	},
	callback:{
		onCheck:function(event,treeId,treeNode){
			let nodes = zTreeObj.getCheckedNodes(true);
			var html = '';
			nodes.forEach(function(item,index){
				html += '<input type="checkbox" name="power_ids[]" checked value="'+item.id+'" />'+item.name
			})
			$('.powerIds').html(html);
		},

	}
},
checked_ids = "{$row.power_ids ?? ''}",
zTreeNodes = [
	{volist name="powerList" id="item"}
	{"id":{$item.id}, "pId":{$item.pid}, "name":"{$item.title}","checked":checked_ids && checked_ids.indexOf('{$item.id}') != -1},
	{/volist}
];

$(document).ready(function(){
	zTreeObj = $.fn.zTree.init($("#tree"), setting, zTreeNodes);
	zTreeObj.expandAll(true);
});

</script>
{/block}

