APP_DEBUG = false

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[DATABASE]
TYPE = mysql
HOSTNAME = 127.0.0.1
DATABASE = cms
USERNAME = root
PASSWORD =
HOSTPORT = 3306
CHARSET = utf8mb4
DEBUG = false
PREFIX = think_

[LANG]
default_lang = zh-cn

[GEETEST]
CAPTCHA_ID =
CAPTCHA_KEY =
API_SERVER = https://gcaptcha4.geetest.com
