{extend name="public/base" /}

{block name="body"}
<div class="page-container">
	<form class="form form-horizontal" id="form-add">
		
		<input type="hidden" name="id" value="{$row.id ?? 0}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>姓名</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row.name ?? ''}" placeholder="请输入" name="name">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>角色</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="role_id" class="input-text">
                    <option value="0"> --请选择-- </option>
                    {volist name="roleList" id="item"}
                    <option value="{$item.id}" {:isset($row['role_id']) && $row.role_id == $item.id ? 'selected' : ''}>
						{$item.title}
					</option>
                    {/volist}
                </select>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>账号</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row.username ?? ''}" placeholder="请输入" name="username">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>密码</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="{:isset($row.id) ? '不输入不更改' : '请输入'}" name="password" id="password">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>确认密码</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="请输入确认密码" id="" name="password2">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>电话</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text " value="{$row.tel ?? ''}" placeholder="请输入" id="" name="tel">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态</label>
			<div class="formControls col-xs-8 col-sm-9">
				<label><input type="radio" name="status" value="1" {if (isset($row.id) && $row.status==1) || !isset($row.id)} checked {/if}> 启用</label>
				<label><input type="radio" name="status" value="0" {if isset($row.id) && $row.status==0} checked {/if}> 禁用</label>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"> 提交</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

{/block}

{block name="js"}

<script type="text/javascript">
$(function(){
	$("#form-add").validate({
		rules:{
            password2:{
				equalTo: "#password"
			},
            name:{
				required:true,
			},
			tel:{
				required:true,
				isPhone:true,
			},
            username:{
				required:true,
				remote: {
					url: "/admin/admin/checkUsername",
					type: "post",
					dataType: "json",
					data: {
						username: function() {
							return $("input[name='username']").val();
						},
                        id: function(){
                            return $("input[name='id']").val();
                        }
					}
				}
            },
            role_id:{
                min:1
            }
		},
        messages:{
            username:{
                remote: "用户名已存在",
            },
            role_id:{
                min:'请选择角色'
            }
        },
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var load = layer.msg('正在提交，请勿刷新', {icon: 16,shade: 0.1,time:0});
			$(form).ajaxSubmit({
				type: 'post',
				url: "/admin/admin/add" ,
				success: function(data){
                    success_fun(data,2);
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				},
                complete: function(){
                    layer.close(load);
                }
			});
		}
	});
});

</script>
{/block}

