{extend name="Public/base" /}

{block name="body"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> <span class="l"><a href="javascript:;" onclick="delAll('/admin/admin/del')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="tan('添加','/admin/admin/add')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a></span> <span class="r">共有数据：<strong>{$dataList|count}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg ">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value="" id="checkall"></th>
				<th width="30">ID</th>
				<th width="60">姓名</th>
				<th width="60">角色</th>
				<th width="60">用户名</th>
				<th width="80">电话</th>
				<th width="50">状态</th>
				<th width="150">最后登录时间</th>
				<th width="50">登录次数</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name="dataList" id="item"}
			<tr class="text-c">
				<td><input type="checkbox" value="{$item.id}" name="" class="checklist"></td>
				<td>{$item.id}</td>
				<td>{$item.name}</td>
				<td>{$item.role.title}</td>
				<td>{$item.username}</td>
				<td>{$item.tel}</td>
				<td>{$item.status ? '<span class="label label-success radius">启用</span>' : '<span class="label label-default radius">禁用</span>'}</td>
				<td>{$item.login_time|date='Y-m-d H:i:s'}</td>
				<td>{$item.login_num}</td>
				<td>
					<a title="编辑" href="javascript:;" onclick="tan('编辑','/admin/admin/add?id={$item.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
					<a title="删除" href="javascript:;" onclick="del('/admin/admin/del','{$item.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			{/volist}
		</tbody>
	</table>
</div>
{/block}