{extend name="public/base" /}

{block name="body"}
<div class="page-container">
	<form class="form form-horizontal" id="form-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">上级权限</label>
			<div class="formControls col-xs-8 col-sm-9">
				<select name="pid" class="input-text">
                    <option value="0"> --请选择-- </option>
                    {volist name="powerList" id="item"}
                    <option value="{$item.id}" {:isset($row['pid']) && $row.pid == $item.id ? 'selected' : ''}>
						{$item.prefix|raw}
						{$item.title}
					</option>
                    {/volist}
                </select>
			</div>
		</div>
		<input type="hidden" name="id" value="{$row.id ?? 0}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>权限名称</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row.title ?? ''}" placeholder="请输入" id="title" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标识</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$row.tag ?? ''}" placeholder="请输入"  name="tag" id="tag">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">url地址</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text " value="{$row.url ?? ''}" placeholder="请输入" id="" name="url">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">菜单图标</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text " value="{$row.icon ?? ''}" placeholder="请输入" id="" name="icon">
			</div>
		</div>
        <div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>权重</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="number" class="input-text" value="{$row.weigh ?? 10}" placeholder="请输入" id="" name="weigh">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">状态</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="skin-minimal">
                    <div class="radio-box">
                        <input type="radio" id="radio-1" name="status" {if !isset($row['status']) || (isset($row['status']) && $row['status']==1 ) } checked {/if}  value="1">
                        <label for="radio-1">显示</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="radio-2" name="status" {:isset($row['status']) && $row.status == 0 ? 'checked' : ''} value="0">
                        <label for="radio-2">隐藏</label>
                    </div>
                </div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"> 提交</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

{/block}

{block name="js"}
<script src="/static/lib/pinyin.js"></script>
<script type="text/javascript">
$(function(){
    $("#title").keyup(function(){
		var old=$(this).val(); //原始内容
		var pinyin = codefans_net_CC2PY(old);
		$("#tag").val(pinyin);
    });

	$("#form-add").validate({
		rules:{
			title:{
				required:true,
			},
			tag:{
				required:true,
			},
			weigh:{
				required:true
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var load = layer.msg('正在提交，请勿刷新', {icon: 16,shade: 0.1,time:0});
			$(form).ajaxSubmit({
				type: 'post',
				url: "/admin/power/add" ,
				success: function(data){
                    success_fun(data,2);
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				},
                complete: function(){
                    layer.close(load);
                }
			});
		}
	});
});
</script>
{/block}

